
CREATE DATABASE TOUR_CNN
GO
USE [TOUR_CNN]
GO

/****** Object:  UserDefinedFunction [dbo].[GenerateSoHD]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GenerateSoHD]()
RETURNS CHAR(5)
AS
BEGIN
    DECLARE @NextID INT;

    -- Tìm giá trị tự tăng tiếp theo
    SELECT @NextID = COALESCE(MAX(CAST(RIGHT(SoHD, 3) AS INT)), 0) + 1
    FROM HoaDon;

    -- Chuyển đổi giá trị tự tăng thành định dạng "HD01", "HD02", ...
    DECLARE @GeneratedID CHAR(5) = 'HD' + RIGHT('00' + CAST(@NextID AS VARCHAR(2)), 2);

    RETURN @GeneratedID;
END;
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [char](5) NOT NULL,
	[TenCV] [nvarchar](20) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SoHD] [char](5) NOT NULL,
	[MaNV] [char](5) NOT NULL,
	[MaKH] [char](5) NOT NULL,
	[MaTour] [char](5) NOT NULL,
	[NgayLapHD] [date] NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
	[SLVe] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [char](5) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Sdt] [char](11) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[GioiTinh] [nvarchar](3) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITOUR]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITOUR](
	[MaLoaiTour] [char](5) NOT NULL,
	[TenLoaiTour] [nvarchar](40) NULL,
 CONSTRAINT [PK_LOAITOUR] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](5) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Sdt] [nvarchar](11) NULL,
	[MaCV] [char](5) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONGTIENTOUR]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONGTIENTOUR](
	[MaPhuongTien] [char](5) NOT NULL,
	[TenPhuongTien] [nvarchar](30) NULL,
 CONSTRAINT [PK_PHUONGTIENTOUR] PRIMARY KEY CLUSTERED 
(
	[MaPhuongTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](30) NOT NULL,
	[MatKhau] [varchar](10) NULL,
	[MaNV] [char](5) NOT NULL,
 CONSTRAINT [PK_TK] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINTOUR]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINTOUR](
	[MaTour] [char](5) NOT NULL,
	[TenTour] [nvarchar](40) NULL,
	[MoTaTour] [nvarchar](255) NULL,
	[AnhTour] [nvarchar](40) NULL,
	[GiaTour] [decimal](18, 2) NULL,
	[TGBatDau] [datetime] NULL,
	[TGKetThuc] [datetime] NULL,
	[MaLoaiTour] [char](5) NULL,
	[MaPhuongTien] [char](5) NULL,
	[MaXP] [char](5) NULL,
	[SLVeConLai] [int] NOT NULL,
 CONSTRAINT [PK_THONGTINTOUR] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATPHATTOUR]    Script Date: 12/12/2023 1:21:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATPHATTOUR](
	[MaXP] [char](5) NOT NULL,
	[DiaDiemXP] [nvarchar](40) NULL,
 CONSTRAINT [PK_XUATPHATTOUR] PRIMARY KEY CLUSTERED 
(
	[MaXP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'NV   ', N'Nhân Viên')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'QL   ', N'Quản Lý')
GO
INSERT [dbo].[HOADON] ([SoHD], [MaNV], [MaKH], [MaTour], [NgayLapHD], [ThanhTien], [SLVe]) VALUES (N'HD001', N'NV002', N'KH001', N'TO001', CAST(N'2023-11-10' AS Date), CAST(2000000 AS Decimal(18, 0)), 1)
INSERT [dbo].[HOADON] ([SoHD], [MaNV], [MaKH], [MaTour], [NgayLapHD], [ThanhTien], [SLVe]) VALUES (N'HD002', N'NV003', N'KH005', N'TO003', CAST(N'2023-11-09' AS Date), CAST(7000000 AS Decimal(18, 0)), 2)
INSERT [dbo].[HOADON] ([SoHD], [MaNV], [MaKH], [MaTour], [NgayLapHD], [ThanhTien], [SLVe]) VALUES (N'HD003', N'NV004', N'KH002', N'TO002', CAST(N'2023-11-11' AS Date), CAST(1800000 AS Decimal(18, 0)), 1)
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [Sdt], [Email], [GioiTinh]) VALUES (N'KH001', N'Nguyen Van Toan', N'0528151123 ', N'vana@email.com', N'Nam')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [Sdt], [Email], [GioiTinh]) VALUES (N'KH002', N'Tran Thi Be', N'1234567899 ', N'thib@email.com', N'Nữ')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [Sdt], [Email], [GioiTinh]) VALUES (N'KH003', N'Le Nhan', N'9876543211 ', N'vanc@email.com', N'Nam')
GO
INSERT [dbo].[LOAITOUR] ([MaLoaiTour], [TenLoaiTour]) VALUES (N'TNN  ', N'Ngoài Nước')
INSERT [dbo].[LOAITOUR] ([MaLoaiTour], [TenLoaiTour]) VALUES (N'TTN  ', N'Trong Nước')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [Email], [DiaChi], [Sdt], [MaCV]) VALUES (N'NV001', N'Hoàng Bảo Trúc', N'Nữ', CAST(N'1995-12-10' AS Date), N'trucdeptrai001@gmail.com', N'A Lưới, Thừa Thiên Huế', N'0971542382', N'QL   ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [Email], [DiaChi], [Sdt], [MaCV]) VALUES (N'NV002', N'Hoàng Văn Hiệp', N'Nam', CAST(N'2001-02-01' AS Date), N'tinhlan00@gmail.com', N'Cầu Giấy, Hà Nội', N'0831241393', N'NV   ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [Email], [DiaChi], [Sdt], [MaCV]) VALUES (N'NV003', N'Hoàng Hạnh Nhân', N'Nam', CAST(N'2003-06-25' AS Date), N'long123@gmail.com', N'Tân Bình, TP.HCM', N'0951636578', N'NV   ')
GO
INSERT [dbo].[PHUONGTIENTOUR] ([MaPhuongTien], [TenPhuongTien]) VALUES (N'PT001', N'Máy bay')
INSERT [dbo].[PHUONGTIENTOUR] ([MaPhuongTien], [TenPhuongTien]) VALUES (N'PT002', N'Xe khách')
INSERT [dbo].[PHUONGTIENTOUR] ([MaPhuongTien], [TenPhuongTien]) VALUES (N'PT003', N'Xe du lịch 16 chỗ')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV]) VALUES (N'baotruc', N'truc123', N'NV001')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV]) VALUES (N'hoangnhan', N'nhan123', N'NV003')
GO
INSERT [dbo].[THONGTINTOUR] ([MaTour], [TenTour], [MoTaTour], [AnhTour], [GiaTour], [TGBatDau], [TGKetThuc], [MaLoaiTour], [MaPhuongTien], [MaXP], [SLVeConLai]) VALUES (N'TO001', N'Tour Đà Lạt', N'Tham quan những danh lam thắng cảnh nổi tiếng của Đà Nẵng như Bà Nà Hills, Cầu Rồng và bãi biển Mỹ Khê.', N'danang1.jpg', CAST(2000000.00 AS Decimal(18, 2)), CAST(N'2023-12-25T10:00:00.000' AS DateTime), CAST(N'2023-12-30T19:00:00.000' AS DateTime), N'TTN  ', N'PT001', N'XP001', 44)
INSERT [dbo].[THONGTINTOUR] ([MaTour], [TenTour], [MoTaTour], [AnhTour], [GiaTour], [TGBatDau], [TGKetThuc], [MaLoaiTour], [MaPhuongTien], [MaXP], [SLVeConLai]) VALUES (N'TO002', N'Tour Sapa', N'Trải nghiệm cuộc sống vùng cao, khám phá thắng cảnh hùng vĩ và gặp gỡ người dân tộc thiểu số.', N'sapa1.jpg', CAST(1800000.00 AS Decimal(18, 2)), CAST(N'2024-01-01T16:00:00.000' AS DateTime), CAST(N'2024-01-06T17:00:00.000' AS DateTime), N'TTN  ', N'PT001', N'XP002', 29)
INSERT [dbo].[THONGTINTOUR] ([MaTour], [TenTour], [MoTaTour], [AnhTour], [GiaTour], [TGBatDau], [TGKetThuc], [MaLoaiTour], [MaPhuongTien], [MaXP], [SLVeConLai]) VALUES (N'TO003', N'Tour Phú Quốc', N'Nghỉ dưỡng tại resort 5 sao, tham quan những bãi biển tuyệt đẹp và thử các món đặc sản đảo ngọc.', N'phuquoc1.jpg', CAST(3500000.00 AS Decimal(18, 2)), CAST(N'2024-01-10T19:00:00.000' AS DateTime), CAST(N'2024-01-14T08:00:00.000' AS DateTime), N'TTN  ', N'PT003', N'XP003', 24)
GO
INSERT [dbo].[XUATPHATTOUR] ([MaXP], [DiaDiemXP]) VALUES (N'XP001', N'TP HCM')
INSERT [dbo].[XUATPHATTOUR] ([MaXP], [DiaDiemXP]) VALUES (N'XP002', N'Hà Nội')
INSERT [dbo].[XUATPHATTOUR] ([MaXP], [DiaDiemXP]) VALUES (N'XP003', N'Hải Phòng')
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_TTT] FOREIGN KEY([MaTour])
REFERENCES [dbo].[THONGTINTOUR] ([MaTour])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_TTT]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NV_CV] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NV_CV]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[THONGTINTOUR]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINTOUR] FOREIGN KEY([MaPhuongTien])
REFERENCES [dbo].[PHUONGTIENTOUR] ([MaPhuongTien])
GO
ALTER TABLE [dbo].[THONGTINTOUR] CHECK CONSTRAINT [FK_THONGTINTOUR]
GO
ALTER TABLE [dbo].[THONGTINTOUR]  WITH CHECK ADD  CONSTRAINT [FK_TTT] FOREIGN KEY([MaLoaiTour])
REFERENCES [dbo].[LOAITOUR] ([MaLoaiTour])
GO
ALTER TABLE [dbo].[THONGTINTOUR] CHECK CONSTRAINT [FK_TTT]
GO
ALTER TABLE [dbo].[THONGTINTOUR]  WITH CHECK ADD  CONSTRAINT [FK_TTT_XP] FOREIGN KEY([MaXP])
REFERENCES [dbo].[XUATPHATTOUR] ([MaXP])
GO
ALTER TABLE [dbo].[THONGTINTOUR] CHECK CONSTRAINT [FK_TTT_XP]
GO



SELECT MONTH(HOADON.NgayLapHD) AS NgayLap, SUM(ThanhTien) as TongTienTongCong
                     FROM HOADON
                     WHERE YEAR(HOADON.NgayLapHD) = DATEPART(YEAR, GETDATE())GROUP BY MONTH(HOADON.NgayLapHD)
                    ORDER BY  MONTH(HOADON.NgayLapHD)

SELECT MONTH(HOADON.NgayLapHD) AS NgayLap, SUM(ThanhTien) as TongTienTongCong
                     FROM HOADON
                     WHERE YEAR(HOADON.NgayLapHD) = DATEPART(YEAR, GETDATE())GROUP BY MONTH(HOADON.NgayLapHD)
                    ORDER BY  MONTH(HOADON.NgayLapHD)



SELECT * FROM HOADON

SELECT MaTour, COUNT(MaTour) AS SoLanDat FROM HoaDon GROUP BY MaTour ORDER BY SoLanDat DESC 

--SLVeConLai >= 0
ALTER TABLE THONGTINTOUR
ADD CONSTRAINT CHK_CheckSLVe
CHECK (SLVeConLai >= 0)

--CHECK TG BAT DAU < TG KET THUC
ALTER TABLE THONGTINTOUR
ADD CONSTRAINT CHK_CheckTimeTour
CHECK (TGBatDau < TGKetThuc);


GO
--CHECK SLVe <= SLVeConLai
CREATE TRIGGER trg_CheckSLVeMua
ON HOADON
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN THONGTINTOUR ttt ON i.MaTour = ttt.MaTour
        WHERE i.SLVe > ttt.SLVeConLai
    )
    BEGIN
        RAISERROR(N'Số lượng vé mua không được vượt quá số lượng vé còn lại.', 16, 1);
        ROLLBACK;
    END;
END;









